extends layout

block content
  h1= title

  - let icecreams=results;

  div(class= "container-fluid")
    div(class = "row m-1")
      each icecream in icecreams
        - let destination = `dispatch(\"/costumes/update?id=${icecream._id}\")` 
        div(class="row-sm-2", class="m-1") icecream #{icecream.icecream_type}(#{icecream.size}) is #{icecream.cost} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script.
    function dispatch(path){ 
      window.location.href=path 
    } 
    function buy(itemNum){
      alert(`The purchased item is ${itemNum+1}`)
    }