extends layout 
 
block content 
  h1= title 
 
  - let icecreamid = toShow._id 
  - let icecream_type = toShow.icecream_type 
  - let icecreamcost = toShow.cost 
  - let icecreamsize = toShow.size 
  div(class="d-grid gap-3")  
    div.row 
      div(class='icecreamAttr mr-3 bg-light border border-dark rounded-2 shadow p-2  text-dark') icecream ID is: 
      div(class='icecreamAttr mr-3  bg-secondary border border-dark rounded-2 shadow p-2  text-white')
        div #{icecreamid} 
    div.row
      div(class='icecreamAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') icecream Type is: 
      div(class='icecreamAttr mr-3 bg-secondary border border-dark rounded-2 shadow p-2   text-white')
        div #{icecream_type} 
    div.row 
      div(class='icecreamAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') icecream Size is: 
      div(class='icecreamAttr mr-3 bg-secondary border border-dark rounded-2 shadow p-2  text-white')
        div #{icecreamsize} 
    div.row 
      div(class='icecreamAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') icecream Cost is: 
      div(class='icecreamAttr mr-3 bg-secondary border border-dark rounded-2 shadow p-2  text-white')
        div #{icecreamcost} 